.navbar .active {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 30px;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc, 100%);
  position: relative;
  transition: all 0.4s ease-in-out;
}

.active:hover {
    transform: translateY(-4px);
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}
